.container {
  margin-top: 70px; /* Ajustez cette valeur en fonction de la hauteur de votre navbar */
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}